html, body{
    height: 100%;
    margin: 0;
}

.container, section, .wr{
    display:flex;
}

.container{
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
section {
    width:100%;
    margin-top:8rem;
}

.wr{
    flex-direction: column;
}
.wr div#summernote{
    flex-basis: 50%;
}
.wr div.select .se{
    flex-basis: 25%;
}
.wr div.submit{
    display: flex;
    justify-content: right;
    align-items:flex-end;

}
.wr div.select{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.wr#select{
    color: rgb(231, 231, 231);
    background-color: rgba(224, 228, 255, .3);
    border-radius: .5rem;
    width:25%;
    padding: 2%;
    margin-left: 3%;
}
.wr#select input#money{
    border: 0;
    color: rgb(231, 231, 231);
    border-bottom : 1px solid rgb(231, 231, 231);
    background: transparent;
    width : 60%;
    outline: 0;
}
.wr#select input#money::-webkit-input-placeholder{
    color: rgb(231, 231, 231);

}
.wr#write{
    width:70%;
}
.word{
    margin-bottom: .5rem;
}
.pos button{
    padding: .2rem .5rem;
    margin-right: .5rem;
    border-radius: 2rem;
    color: rgb(247, 247, 247);
    border: 1px solid rgb(231, 231, 231);
    background: transparent;
}

.pos button:hover{
    border-color:rgb(93, 98, 254);
    background: rgb(93, 98, 254);
    color: rgb(247, 247, 247);
}

.wr#write input{
    margin-bottom : .5rem;
}
.content{
    padding-left: .5rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: .8rem;
}
.content h4{
    margin-bottom: 1rem;
}
div.panel{
    margin-bottom:0;
    height: 60vh;
}
/* div.note-editor{
    height: 100%;
} */
.content input#tit{
    padding-left: .5rem;
    height:1.5rem;
    font-size:.9rem;
}

.submit input{
    font-size:.75rem;
    padding: .4rem 1.5rem;
    border-radius: 2rem;
    border:1px solid rgb(146, 150, 250);
    background: rgb(146, 150, 250);
    color: rgb(247, 247, 247);

}

.submit input:hover{
    border-color:rgb(93, 98, 254);
    background: rgb(93, 98, 254);
    color: rgb(247, 247, 247);
}

@media (max-width:1100px){
    section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:8rem;
    }
    .wr#write{
        width:80%;
    }
    .wr#select{
        margin-top: 1rem;
        width:75%;
        padding: 1rem;
        margin-left: 0;
    }
    .submit input{
        margin-top:1rem;
    }
    .content div.note-editable{
        font-size: .7rem;
    }
}