.container, section, .wr{
    display:flex;
}

.container{
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
section {
    width:90%;
    margin-top:12rem;
}
.wr{
    flex-direction: column;
}
.wr#select{
    width:30%
}
.wr#write{
    width:70%;
}
.content div.note-editable{
    height:50vh;
}
.content input#tit{
    padding-left: 3rem;
    height:1.5rem;
    font-size:1rem;
}

.submit input{
    font-size:.75rem;
    padding: .4rem 1.5rem;
    border-radius: 2rem;
    border:1px solid rgb(146, 150, 250);
    background: rgb(146, 150, 250);
    color: rgb(247, 247, 247);

}

.submit input:hover{
    border-color:rgb(93, 98, 254);
    background: rgb(93, 98, 254);
    color: rgb(247, 247, 247);
}