html{
    font-size : 20px;
}
header{
    width: 100%;
    /* border: 1px solid black; */
    position:fixed; display:flex;
    justify-content: space-between;
    top:0;left:0;
    height: 2rem;
    padding: 2rem 0;
    align-items: center;
    /* background:white; */
    z-index:50;
}
header>ul{
    display: flex;
    padding:0;
}
header>ul>li{
    list-style-type: none;
}
header>ul#right>li{
    margin-right:1rem;
}
header>ul#right>li:last-child{
    margin-right:3rem;
}
header>ul#left>li{
    margin-left:1rem;
}
header>ul#left>li:nth-child(1){
    margin-left:3rem;
}
header .menu{
    /* display: none; */
    border: none;
    background:transparent;
    font-size: .9rem;
}
header a{
    color: rgb(76, 76, 76);
    /* text-shadow: 1px 1px 1px rgba(0,0,0,1); */
    text-decoration: none;
}
header a:visited{
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.custom-shape-divider-top-1657463136 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1657463136 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 180px;
}

.custom-shape-divider-top-1657463136 .shape-fill {
    fill: #FFFFFF;
}

@media (max-width:1000px){
    header{
        height: 1rem;
    }
    header>ul#right>li{
        margin-right:.2rem;
    }
    header>ul#right>li:last-child{
        margin-right:1rem;
    }
    header>ul#left>li{
        margin-left:.2rem;
    }
    header>ul#left>li:nth-child(1){
        margin-left:1rem;
    }

    header .menu{
        /* display: none; */
        border: none;
        background:white;
        font-size: .8rem;
    }
    header .del{
        display:none;
    }
    .custom-shape-divider-top-1657463136 svg {
        position: relative;
        display: block;
        width: calc(230% + 1.3px);
        height: 140px;
    }
}