.sidenav{
    font-family: 'Roboto Mono', monospace;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0; left:0;
    background-color:#111;
    opacity: .9;
    overflow-x: hidden;
    padding-top:3rem;
    transition: 0.5s;
}

.sidenav li{
    list-style-type: none;
}
.sidenav li a{
    padding: .5rem .5rem .5rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    color: #ccc;
    transition: .3s;
}

.sidenav li a:hover{
    color: #fff;
    text-decoration: none;
}
.sidenav li a:visited{
    text-decoration: none;
    color: #ccc;
}
.sidenav .close{
    position: absolute;
    top: 0; right: 1.5rem;
    font-size: 1.8rem;
    margin-left: 3rem;
}