* {margin: 0;padding: 0;}
html, body{
    font-size: 20px;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 228, 255);
    padding: 1rem;
    margin-top: 12rem;
    border-radius: 1rem;
    width: 24rem;
    margin-bottom: 6.5rem;
    justify-content: center;
}
section form{
    padding: 0 2rem;
}
section form, section h1, section .btn-area{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
section h1, section .btn-area{
    flex-basis: 8vh; flex-shrink: 0;
    padding: 1rem 0;
    align-items: center;
}
section form{
    flex-basis: 24vh; flex-shrink: 0;
}

.login-form h1 {
    font-size: 1.5rem; color: rgb(93, 98, 254);
    text-align: center;
}
.guide{
    font-size: .8rem;
    margin-bottom: .3rem;
    color:rgb(78, 78, 78);
}

.int-area input{
    width: 100%;
    height: 1rem;
    font-size: .7rem;
    padding: .5rem 0;
    border: 0;
    border-bottom: 1px solid rgb(132, 132, 132);
    background: transparent;
    color:rgb(78, 78, 78);
    outline: 0;
}

.int-area:first-child input{
    margin-bottom: 1.5rem;
}

.btn-area {
    text-align: center;
}
.btn-area button {
    width: 80%;
    padding: .6rem 0;
    background: rgb(146, 150, 250);
    color: rgb(247, 247, 247);
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor:pointer;
    font-size: .9rem;
}

.btn-area button:hover{
    background: rgb(93, 98, 254);
    color: rgb(230, 230, 230);
}

.btn-area button a{
    text-decoration: none;
    padding: .6rem 2rem;
    color: rgb(230, 230, 230);
}

.btn-area button a:visited{
    text-decoration: none;
    color: rgb(230, 230, 230);
}