.container, section, .wr{
    display:flex;
}

.container{
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
section {
    width:100%;
    margin-top:11rem;
}

.wr{
    flex-direction: column;
}
.wr div{
    flex-basis: 50%;
}
.wr div.submit{
    display: flex;
    justify-content: right;
    align-items:flex-end;

}

.wr#select{
    width:25%;
    padding-left: 5%;
}
.wr#write{
    width:70%;
}
.content div.note-editable{
    height:45vh;
    padding-left: .5rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: .8rem;
}
.content div.note-editable h4{
    margin-bottom: 1rem;
}
div.panel{
    margin-bottom:0;
}
.content input#tit{
    padding-left: .5rem;
    height:1.5rem;
    font-size:.9rem;
}

.submit input{
    font-size:.75rem;
    padding: .4rem 1.5rem;
    border-radius: 2rem;
    border:1px solid rgb(146, 150, 250);
    background: rgb(146, 150, 250);
    color: rgb(247, 247, 247);

}

.submit input:hover{
    border-color:rgb(93, 98, 254);
    background: rgb(93, 98, 254);
    color: rgb(247, 247, 247);
}

@media (max-width:1100px){
    section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:8rem;
    }
    .wr#write{
        width:80%;
    }
    .wr#select{
        margin-top: 1rem;
        width:80%;
        padding-left: 0;
    }
    .submit input{
        margin-top:1rem;
    }
    .content div.note-editable{
        font-size: .7rem;
    }
}